/* @font-face {
  font-family: '{}';
  src        : url('/fonts/{}.ttf') format('truetype');
  font-weight: normal;
  font-style : normal;
} */

body {
  /* font-family     : '{}', Arial, sans-serif !important; */
  background-color: #e4e6f5;
}

@tailwind base;
@tailwind components;
@tailwind utilities;